/EduktSoft/build/
/EduktSoft/nbproject/private/
/EduktSoftController/build/
/EduktSoftController/nbproject/private/
/EduktSoftModel/build/
/EduktSoftModel/nbproject/private/
/EduktSoftService/nbproject/private/
/EduktSoftService/build/
/EduktSoftService/dist/